@import '../../vars';
@import '../../mixins';

.container {
  margin: 0 auto;
  max-width: $container-max-width;
  padding-left: ($gutter-width * 0.5);
  padding-right: ($gutter-width * 0.5);
  @include media-up(sm) {
    padding-left: $gutter-width;
    padding-right: $gutter-width;
  }
}

.content {
  margin-top: 30px;
  @include media-up(lg) {
    margin-top: 50px;
  }
  @include media-up(xl) {
    margin-top: 60px;
  }
}
