@import '../vars';

.vacancy-title {
  color: $font-color;
  font-weight: bold;
  line-height: 1.7;
}

.sub-title {
  color: $font-color-gray;
  display: block;
  font-weight: normal;
}

.form {
  label {
    display: block;
  }
}

.submit {
  display: block;
}

.experience-legend {
  color: rgba($font-color-gray, 0.8);
  font-size: 13px;
  line-height: 1.8;
}
