@import '../vars';
@import '../mixins';

.contacts {
  display: block;
  flex: 0 0 auto;
  margin-top: 30px;
  padding-left: ($gutter-width * 0.5);
  padding-right: ($gutter-width * 0.5);
  width: 100%;
  @include media-up(lg) {
    width: col-percent(6);
  }
  @include media-up(xl) {
    margin-left: col-percent(1);
    width: col-percent(5);
  }
}

.caption {
  border-bottom: 1px solid $border-color;
  padding-bottom: 20px;
  position: relative;
  @include media-up(md) {
    padding-bottom: 15px;
  }

  &::after {
    background-color: $border-color;
    bottom: -20px;
    content: '';
    height: 40px;
    position: absolute;
    right: 0;
    width: 1px;
  }
}

.list {
  display: grid;
  margin-top: 10px;
  @include media-up(sm) {
    grid-gap: 0 30px;
    grid-template-columns: auto auto;
    margin-top: 20px;
  }
}

.name {
  flex: 0 0 auto;
  margin-top: 10px;
  width: 100%;
  @include media-up(sm) {
    margin-top: 0;
  }

  > span {
    color: rgba($font-color-gray, 0.5);
  }
}

.val {
  flex: 0 0 auto;
  padding-left: 20px;
  width: 100%;
  @include media-up(sm) {
    padding-left: 0;
  }
}

.link {
  background-position: 30px 100% !important;
}

.ico {
  height: 14px;
  margin-right: 16px;
  width: 14px;
}
