@import '../vars';
@import '../mixins';

.exp-name {
  flex: 0 0 auto;
  line-height: 1.6;
  margin-top: $gutter-width;
  padding-left: ($gutter-width * 0.5);
  padding-right: ($gutter-width * 0.5);
  width: 100%;
  @include media-up(md) {
    align-self: center;
    width: (100% / $grid-columns * 5);
  }
}

.exp-range {
  display: flex;
  flex: 0 0 auto;
  margin-top: 10px;
  padding-left: ($gutter-width * 0.5);
  padding-right: ($gutter-width * 0.5);
  width: 100%;
  @include media-up(md) {
    margin-top: $gutter-width;
    width: (100% / $grid-columns * 7);
  }
}

.exp-button {
  flex-grow: 1;
  position: relative;

  &:last-child .exp-label {
    border-radius: 0 3px 3px 0;
  }

  &:first-child .exp-label {
    border-radius: 3px 0 0 3px;
  }
}

.exp-input {
  margin: 0;
  opacity: 0;
  position: absolute;

  &:checked + .exp-label {
    color: $body-background-color;
    font-weight: bold;

    &::before {
      opacity: 1;
      transform: none;
      z-index: 3;
    }

    > span {
      z-index: 4;
    }
  }
}

.exp-label {
  @include tr(border-color 0.5s, color 0.5s);
  border: 1px solid $form-border-color;
  color: rgba($font-color-gray, 0.6);
  cursor: pointer;
  display: block;
  height: 50px;
  line-height: 50px;
  margin: 0 0 0 -1px;
  padding: 0;
  position: relative;
  text-align: center;

  &::before {
    @include tr(transform 0.2s, opacity 0.2s);
    background-color: $font-color-orange;
    border-radius: 3px;
    bottom: -2px;
    content: '';
    left: -2px;
    opacity: 0;
    position: absolute;
    right: -2px;
    top: -2px;
    transform: scale(0.7);
  }

  > span {
    position: relative;
  }

  &:hover {
    border-color: rgba($font-color-gray, 0.5);
    color: $font-color-gray;
    z-index: 2;
  }
}
