@import '../vars';
@import '../breakpoints';

.underlined {
  background-image: linear-gradient($font-color-orange, $font-color-orange);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;

  &:hover {
    background-size: 100% 1px;
  }
}
