@import '../vars';
@import '../mixins';

.footer {
  margin-bottom: 30px;
  margin-top: 30px;
  opacity: 0.5;
  @include media-up(lg) {
    margin-bottom: 50px;
    margin-top: 60px;
  }
  @include media-up(xl) {
    margin-bottom: 70px;
    margin-top: 100px;
  }
}
