@import '../vars';
@import '../mixins';

.github {
  @include tr(background-color 0.5s);
  background-color: $font-color;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  display: block;
  height: 70px;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 70px;
  z-index: 10;
  @include media-up(md) {
    height: 100px;
    width: 100px;
  }

  &:hover {
    background-color: lighten($font-color, 7%);

    .image {
      transform: rotate(45deg) translate3d(0, 4px, 0);
    }
  }
}

.image {
  @include tr(transform 0.5s);
  backface-visibility: hidden;
  height: auto;
  left: calc(50% - 13px);
  position: absolute;
  top: 0;
  transform: rotate(45deg) translate3d(0, 8px, 0);
  transform-origin: bottom center;
  width: 26px;
  @include media-up(md) {
    left: calc(50% - 20px);
    width: 40px;
  }
}
