@import '../vars';
@import '../mixins';

.line {
  border: 0;
  border-bottom: 1px solid $border-color;
  margin: 30px 0 0;
  position: relative;
  @include media-up(lg) {
    margin-top: 50px;
  }
  @include media-up(xl) {
    margin-top: 60px;
  }

  &::after {
    background-color: $border-color;
    content: '';
    display: none;
    height: 20px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 1px;
    @include media-up(sm) {
      display: block;
    }
    @include media-up(lg) {
      height: 40px;
    }
  }
}
