@import '../vars';
@import '../mixins';

.vacancies {
  @include media-up(xl) {
    flex: 0 0 auto;
    margin: 0 auto;
    width: col-percent(10);
  }
}

.wrapper {
  margin-top: 30px;
  @include media-up(lg) {
    margin-top: 40px;
  }
  @include media-up(xl) {
    margin-top: 50px;
  }
}

.list {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;
  margin-top: 30px;
  @include media-up(lg) {
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
  }
}

.item {
  border: 1px solid $border-color;
  border-radius: 3px;
  color: $font-color;
  display: flex;
  padding: 10px 15px;
  position: relative;
  @include media-up(lg) {
    padding: 20px 30px;
  }

  &::before {
    @include tr(transform 0.3s);
    background-color: $font-color;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: left center;
  }

  &:hover {
    color: $body-background-color;

    &::before {
      transform: none;
    }

    .title {
      @include media-up(lg) {
        transform: translateX(-10px);
      }
    }

    .ico {
      @include media-up(lg) {
        transform: translate3d(10px, -10px, 0);
      }
    }
  }
}

.num {
  line-height: 1.7;
  margin-right: 15px;
  opacity: 0.5;
  z-index: 2;
  @include media-up(lg) {
    margin-right: 30px;
  }
}

.title {
  @include tr(transform 0.5s);
  font-weight: bold;
  line-height: 1.7;
  z-index: 2;
}

.sub-title {
  display: block;
  font-weight: normal;
  opacity: 0.5;
}

.ico {
  @include tr(transform 0.5s);
  display: block;
  height: 10px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 10px;
  @include media-up(sm) {
    right: 30px;
    top: 30px;
  }
}

.inactive {
  border-color: rgba($border-color, 0.3);
  color: rgba($font-color, 0.4);

  .title {
    font-weight: normal;
  }

  &:hover {
    border-color: rgba($border-color, 0.6);
    color: rgba($font-color, 0.9);

    &::before {
      transform: scaleX(0);
    }

    .title {
      @include media-up(lg) {
        transform: none;
      }
    }
  }
}
