@import '../vars';
@import '../transitions';
@import '../breakpoints';

.vacanciesList {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
  @include media-breakpoint-down(sm) {
    grid-gap: 10px;
  }
}

.vacancyItem {
  border: 1px solid $border-color;
  color: $font-color;
  display: flex;
  padding: 20px 30px;
  position: relative;
  @include media-breakpoint-down(sm) {
    padding: 10px 15px;
  }

  &::before {
    @include tr(transform 0.5s);
    background-color: $font-color;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: left center;
  }

  &:hover {
    color: $body-background-color;

    &::before {
      transform: none;
    }

    .title {
      transform: translateX(-10px);
      @include media-breakpoint-down(sm) { transform: none; }
    }

    .ico {
      transform: translate3d(10px, -10px, 0);
      @include media-breakpoint-down(sm) { transform: none; }
    }
  }
}

.ico {
  @include tr(transform 0.5s);
  display: block;
  height: 10px;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 10px;
  @include media-breakpoint-down(sm) {
    right: 20px;
    top: 20px;
  }
}

.num {
  margin-right: 30px;
  opacity: 0.5;
  z-index: 2;
  @include media-breakpoint-down(sm) { margin-right: 15px; }
}

.title {
  @include tr(transform 0.5s);
  font-weight: bold;
  line-height: 1.7;
  z-index: 2;
}

.subTitle {
  display: block;
  font-weight: normal;
  opacity: 0.5;
}
