@import '../vars';
@import '../mixins';

.job {
  @include media-up(xl) {
    flex: 0 0 auto;
    margin: 0 auto;
    width: col-percent(10);
  }
}

.job-button {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  @include media-up(sm) {
    flex-direction: row;
  }
  @include media-up(lg) {
    margin-top: 40px;
  }
  @include media-up(xl) {
    margin-top: 50px;
  }
}
