@import '../vars';
@import '../mixins';

.welcome {
  flex: 0 0 auto;
  padding-left: ($gutter-width * 0.5);
  padding-right: ($gutter-width * 0.5);
  width: 100%;
  @include media-up(lg) {
    width: (100% / $grid-columns * 6);
  }
  @include media-up(xl) {
    margin-left: (100% / $grid-columns * 1);
    width: (100% / $grid-columns * 5);
  }
}

.welcome-ico {
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-name: hand;
  animation-timing-function: linear;
  margin-left: 5px;
  margin-top: -15px;
  transform-origin: bottom center;
}

@keyframes hand {
  0% {
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transform: rotate(0deg);
  }

  5% {
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transform: rotate(-10deg);
  }

  10% {
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transform: rotate(10deg);
  }

  15% {
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transform: rotate(-10deg);
  }

  20% {
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transform: rotate(10deg);
  }

  25% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }

}
