
/* Form Group */

.formGroup {
  position: relative;

  & + & {
    margin-top: #{map-get($spacers, 30)};
  }

  & + &--submit {
    margin-top: #{map-get($spacers, 50)};
  }
}

/* Label */

label {
  color: $form-label-color;
  display: inline-block;
  line-height: 1.7;
  margin: 0 0 10px;
  position: relative;
}

/* Textarea */

textarea {
  height: auto;
  min-height: 7.5em;
  overflow: auto;
  resize: vertical;
}

/* Input */

.formControl {
  @include tr(border-color 0.5s);
  appearance: none;
  background-clip: padding-box;
  background-color: $body-background-color;
  border: 1px solid $form-border-color;
  border-radius: 3px;
  caret-color: $font-color-orange;
  color: $font-color;
  display: block;
  font-family: inherit;
  font-size: inherit;
  height: 50px;
  line-height: inherit;
  margin: 0;
  padding: 7px 15px;
  width: 100%;

  &::placeholder {
    color: rgba($border-color, 0.4);
  }

  &:focus,
  &:hover {
    border-color: $form-focus-border-color;
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

/* Select */

.customSelect {
  @include tr(border-color 0.5s);
  appearance: none;
  background: $body-background-color url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5.5 5.5L10 1' stroke='%231A1A1A' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat right 15px center;
  background-clip: padding-box;
  background-size: 11px 7px;
  border: 1px solid $form-border-color;
  border-radius: 3px;
  color: $font-color;
  display: block;
  font-family: inherit;
  font-size: inherit;
  height: 50px;
  line-height: inherit;
  margin: 0;
  overflow-x: hidden;
  padding: 5px 40px 5px 15px;
  text-overflow: ellipsis;
  vertical-align: middle;
  width: 100%;

  &:focus,
  &:hover {
    border-color: $form-focus-border-color;
  }
}
