@import './vars';
@import './reset';
@import './typography';
@import './breakpoints';
@import './grid';
@import './transitions';
@import './forms';

body {
  background-image: url('./images/body-background.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto;
  @include media-breakpoint-down(sm) { line-height: 1.8; }
}

::selection {
  background-color: rgba($font-color-orange, 0.3);
  //color: $font-color-gray;
}


/* Title */

h1 {
  font-size: 46px;
  font-weight: bold;
  line-height: 1.1;
  @include media-breakpoint-down(xl) { font-size: 40px; }
  @include media-breakpoint-down(lg) {
    font-size: 34px;
    line-height: 1.2;
  }
  @include media-breakpoint-down(sm) {
    font-size: 28px;
    line-height: 1.3;
  }
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  @include media-breakpoint-down(lg) { font-size: 22px; }
  @include media-breakpoint-down(sm) { font-size: 20px; }
}

/* Links */

a {
  @include tr(color 0.6s, background-size 0.6s);

  &:hover {
    color: $font-color;
  }
}

/* Text */

p + p {
  margin-top: $spacer;
}

/* List */

ul,
ol {
  color: $font-color;
  counter-reset: item;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  counter-increment: item;
  margin: 15px 0 0;
  padding: 0 0 0 36px;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  &::before {
    background-image: url('./images/list-dot.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    content: '';
    height: 16px;
    left: 5px;
    position: absolute;
    top: calc((1em * 2.2) / 2 - 8px);
    width: 16px;
    @include media-breakpoint-down(sm) {
      top: calc((1em * 1.8) / 2 - 8px);
    }
  }
}

ol li {
  counter-increment: item;
  margin: 15px 0 0;
  padding: 0 0 0 36px;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  &::before {
    color: $font-color-orange;
    content: counter(item) '.';
    left: 5px;
    position: absolute;
    top: 3px;
    @include media-breakpoint-down(sm) {
      top: 0;
    }
  }
}
