*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 0;
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -ms-overflow-style: scrollbar;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  background-color: $body-background-color;
  color: $font-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  margin: 0;
  text-align: left;
}

[tabindex='-1']:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ol,
ul,
li,
dl,
dt,
dd {
  margin: 0;
}

b,
strong {
  font-weight: bold;
}

a {
  background-color: transparent;
  color: $link-color;
  text-decoration: $link-decoration;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }

  &:focus {
    color: inherit;
    outline: 0;
    text-decoration: none;
  }
}

img {
  border-style: none;
  vertical-align: middle;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin: 0;
}

button {
  border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
}

legend {
  color: inherit;
  display: block;
  line-height: inherit;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  width: 100%;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  appearance: none;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  appearance: none;
}
