
/* Transitions */

@mixin tr($transitions...) {
  $unfolded-transitions: ();
  @each $transition in $transitions {
    $unfolded-transitions: append($unfolded-transitions, unfold-transition($transition), comma);
  }
  transition: $unfolded-transitions;
}

@function unfold-transition ($transition) {
  $property: all;
  $duration: 0.3s;
  $easing: cubic-bezier(0, 0.5, 0.5, 1);
  $delay: null;
  $default-properties: ($property, $duration, $easing, $delay);

  $unfolded-transition: ();
  @for $i from 1 through length($default-properties) {
    $p: null;
    @if $i <= length($transition) {
      $p: nth($transition, $i);
    } @else {
      $p: nth($default-properties, $i);
    }
    $unfolded-transition: append($unfolded-transition, $p);
  }
  @return $unfolded-transition;
};
