@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/PT-Mono_Regular.woff2') format('woff2'), url('./fonts/PT-Mono_Regular.woff') format('woff');
}
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/PT-Mono_Bold.woff2') format('woff2'), url('./fonts/PT-Mono_Bold.woff') format('woff');
}
