
$grid-columns: 12;
$gutter-width: 30px;
$container-max-width: 1140px;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);

$body-background-color: #fff;

$font-family-base: 'PT Mono', monospace;
$font-family-title: 'Source Sans Pro', sans-serif;
$font-size-base: 15px;
$font-weight-base: normal;
$line-height-base: 1.8;
$font-color: #1a1a1a;
$font-color-gray: #666;
$font-color-orange: #f36717;

$link-color: #f36717;
$link-hover-color: #c04600;
$link-decoration: none;

$border-color: #666;

$form-border-color: #ccc;
$form-focus-border-color: #666;
$form-label-color: #1a1a1a;

$error-color: #ff7a7a;
