@import 'vars';

.callout-link,
.callout-link:hover {
  background: $accent-color;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 4px 10px;
  text-decoration: none;
}
